*
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body 
{
	overflow-x: hidden;
}

a
{
	text-decoration: none;
}
ul
{
	list-style: none;
}
nav 
{
	background: #FFDA00;
	height: 100px;
}
nav article
{
	background-image: url("../img/triangulo.png");
	background-repeat: repeat-x;
	height: 10px;
	background-position: bottom;
	position: relative;
	top: -28px;
}
#descripcion .inverso 
{
	background-image: url("../img/inverso.png");
	background-repeat: repeat-x;
	height: 10px;
	background-position: bottom;
	position: relative;
	top: -5px;
}
#descripcion .triangulo
{
	background-image: url("../img/triangulo.png");
	background-repeat: repeat-x;
	height: 10px;
	background-position: bottom;
	position: relative;
}
#participantes .inverso 
{
	background-image: url("../img/inverso.png");
	background-repeat: repeat-x;
	height: 10px;
	background-position: bottom;
	position: relative;
	top: -5px;
}
#participantes .triangulo
{
	background-image: url("../img/triangulo.png");
	background-repeat: repeat-x;
	height: 10px;
	background-position: bottom;
	position: relative;
}
nav section
{
	position: relative;
	bottom: -8px;
	max-width: 1400px;
	margin: auto;
	text-align: center;
}
nav div
{
	display: inline-block;
	vertical-align: middle;
}
.logo-menu
{
	width: 200px;
	position: relative;
	z-index: 1;
}
.logo-menu img 
{
	width: 100%;
}
.menu 
{
	background: #e9A60B;
	height: 60px;
	border-radius: 3px;
}
.menu a 
{
	color: white;
}
.menu ul li 
{
	display: inline-block;
	padding: 20px;
}
.redes
{
	width: 100px;
	height: 60px;
	background: rgb(249, 182, 27);
	margin-left: -3px;
	border-radius: 3px;
}
.redes a 
{
	color: white;
}
.redes ul 
{
	margin-top: 8px;
}
.redes ul li 
{
	display: inline-block;
}
.redes i 
{
	font-size: 1.5em;
	padding: 10px;
}
#vista-registro section
{
	display: inline-block;
	vertical-align: middle;
}
#vista-registro .cont-canvas
{
	width: 70%;
}
#vista-registro .botones-canvas
{
	width: 28%;
	text-align: center;
}
.km-recorridos 
{
	width: 70%;
	margin: auto;
}
#numero-metros {
	position: relative;
	top: -63px;
	left: -9px;
	font-size: 2em;
	letter-spacing: 15px;
	color: white;
	text-align: right;
}
.km-recorridos img 
{
	width: 100%;
}
.boton-registro 
{
	background: #ac162c;
	width: 130px;
	padding: 10px;
	color: white;
	border-radius: 5px;
	margin: auto;
	cursor: pointer;
}
.boton-registro a 
{
	color: white;
}
.boton-registro > h1:first-child
{
	font-size: 1.8em;
}
.seguir-corriendo 
{
	margin-top: 20px;
	cursor: pointer;
}
.seguir-corriendo:hover
{
	-webkit-box-shadow: 0 0px 6px rgba(0,0,0,0.6), 0 3px 4px rgba(0,0,0,0.13);
	-moz-box-shadow: 0 0px 6px rgba(0,0,0,0.6), 0 3px 4px rgba(0,0,0,0.13);	
}
.seguir-corriendo h1
{
	font-size: 1.8em;
	color: #ac162c;
	font-style: italic;
}
#descripcion 
{
	background: #FFDA00;
	text-align: center;
}
#descripcion div
{
	display: inline-block;	
	vertical-align: middle;	
}
#descripcion .logo-desc
{
	width: 15%;
}
#descripcion .logo-desc img 
{
	width: 100%;
}
#descripcion .desc 
{
	width: 55%;
}
#tops 
{
	text-align: center;
}
#top5 #tops section
{
	display: inline-block;
	width: 30%;
	text-align: center;
}
#titulotop 
{
	text-align: center;
}
#titulotop div 
{
	display: inline-block;
	width: 30%;
	margin: 30px 0 30px 0;
}
#titulotop div img
{
	width: 100%;
}
.div_top
{
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
.div_top .img_liston
{
	width: 192px;
	position: relative;
}
.div_top .img_liston img 
{
	width: 100%;
}
.div_top .cont_top
{
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	top: -197px;
	left: 42px;
}
.img_horizontal
{
	position: relative;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.img_vertical
{
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
#tops .datos_top .nombre-top 
{
	width: 70%;
	margin-left: 30%;
}
#tops .datos_top .dist-recorrida
{
	padding: 10px 0;
	width: 80%;
	margin-left: 20%;
}
.datos_top 
{
	width: 225px;
	height: 120px;
	margin-left: -70px;
	background: white;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.13);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.13);
}
#participantes .datos_top .nombre-top 
{
	width: 70%;
	margin-left: 30%;
}
#participantes .datos_top a 
{
	margin-left: 45px;
    color: #ac162c;
    font-weight: bold;
}
.datos_top .dist-recorrida
{
	color: #AC162C;
	font-size: 1.5em;
	padding: 10px; 
}
.datos_top > h3:first-child
{
	background: #e9A60B;
	color: white;
	padding: 10px;
}
#participantes 
{
	background: #F79532;
	display: table;
	width: 100%;
}
#participantes .titulo-corredores
{
	width: 30%;
	margin: auto;
}
#participantes .titulo-corredores figure 
{
	margin: 30px 0 30px 0;
}
#participantes .titulo-corredores img
{
	width: 100%;
}

#participantes section
{
	display: inline-block;
	width: 25%;
	height: 150px;
	text-align: center;
	margin-top: 25px;
}
#participantes .div_top .liston_rojo
{
	width: 160px;
	position: relative;
}
#participantes .div_top .liston_rojo img 
{
	width: 100%;
}
#participantes .div_top .cont_part
{
	width: 110px;
	height: 110px;
	overflow: hidden;
	border-radius: 50%;
	position: relative;
	top: -138px;
	left: 25px;
}	
.boton-ver
{
	border: none;
	padding: 15px;
	font-size: 1.2em;
	border-radius: 5px;
	cursor: pointer;
	margin: auto;
	display: block;
	background: white;
}
footer 
{
	background: #FFDA00;
	width: 100%;
	height: 60px;

}


/*ESTILOS DE REGISTRO*/
	.cont-registro
	{
		background: #F79532;
	}
.franja 
	{
		width: 100%;
		height: 70px;
		background: #FFDA00;
		border-bottom: 2px solid white;
	}
.franja figure 
	{
		width: 15%;
		margin: auto;
	}
.franja figure img 
	{
		margin-top: 10px;
		width: 100%;
	}
	  .contenedor
	{
		position: absolute;    
		top: 125px;
		left: 0;
		right: 0;
	}

	.contenedor .form 
	{
		background-color: white;
		width: 600px;
		height: 455px;
		margin: auto;
		border-radius: 3px;
		position: absolute;
		left: 0;
		right: 0;
		-webkit-box-shadow: 0 10px 6px rgba(0,0,0,0.26), 0 2px 3px rgba(0,0,0,0.13);
		-moz-box-shadow: 0 10px 6px rgba(0,0,0,0.26), 0 2px 3px rgba(0,0,0,0.13);
		-o-box-shadow: 0 10px 6px rgba(0,0,0,0.26), 0 2px 3px rgba(0,0,0,0.13);
		-ms-box-shadow: 0 10px 6px rgba(0,0,0,0.26), 0 2px 3px rgba(0,0,0,0.13);
	}
	 .progreso 
	{
		text-align: center;
		margin-bottom: 20px;
		margin-right: 35px;
		position: relative;
		right: 100%;
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
	}
	.progreso section
	{
		display: inline-block;
		vertical-align: top;
		margin-left: 40px;
	}
	.progreso section div 
	{
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: white;
		border: 1px solid #FE5A19; 
		margin: auto;
		color: #FE5A19;
	}
	.progreso section div p 
	{
		font-size: 1.5em;
		margin-top: 5px;
	}
	.form input:focus 
	{
		outline:none; 
		border-bottom:1px solid #FE5A19;
	}
	.form-0
	{
		text-align: center;
	}
 /*   .franja-bottom
	{
		width: 100%;
		height: 5px;
		background: #FFDA00;
		border-bottom: 2px solid white;
		position: absolute;
		bottom: 0;
	}*/
	.form-0 .registrar
	{
		margin-top: 100px; 
	}
	.form-0 .registrar div
	{
		display: inline-block;
		vertical-align: middle;
	}
	.form-0 .registrar .img-registro
	{
		width: 25%;
	}
	.form-0 .registrar .img-registro img
	{
		width: 100%;
	}
	.form-0 .correr div
	{
		display: inline-block;
		vertical-align: middle;
	}
	.form-0 .correr .img-registro
	{
		width: 25%;
	}
	.form-0 .correr .img-registro img
	{
		width: 100%;
	}
	.form-1 h1 
	{
		font-size: 2em;
		margin-top: 10px;
	}
	.btn-registro 
	{
		background: #FFDA00;
		color: white;
		padding: 20px;
		width: 175px;
		text-align: center;
		font-size: 2em;
		border-radius: 6px;
		border-bottom: 4px solid #998A2D;
		cursor: pointer;
	}
	.seguir-btn
	{
		width: 300px;
	}
	
	.form-1 label
	{
		font-size: 1.2em;
	}
	.form-1 input[type="text"]
	{
		width: 290px;
		border: none;
		border-bottom: 1px solid black;
	}
	.form-1 input[type="email"]
	{
		width: 290px;
		border: none;
		border-bottom: 1px solid black;

	}
	.form-1 input[type="button"]
	{
		border: none;
		background: #FFDA00;
		padding: 10px;
		font-size: 1.5em;
		border-radius: 3px;
		color: white;
		cursor: pointer;
	}
	.form-2
	{
		right: 100%;
	}
	.form-2 h1 
	{
		font-size: 1.5em;
		text-align: center;
		margin: 10px;
	}
	  .foto-cont 
	{
		display: table;
		margin: auto;
	}
	.archivo-style 
	{
		position: relative;

	}

 #submit-trabajo
{
	background: none repeat scroll 0 0 #ffaf2a;
	border: medium none;
	color: white;
	cursor: pointer;
	font-size: 1.3em;
	margin-top: 50px;
	text-align: center;
	width: 210px;
	padding: 10px;
}
.boton-archivo
{
	width: 230px;
	height: 30px;
	background: #F79532;
	margin-top: 2%;
	color: white;
	text-align: center;
}
.boton-archivo input 
{
	width: 170px !important;
	height: 30px !important;
	opacity: 0 !important;
	display: block !important;
	overflow: hidden !important;
	content: 'Sube tu foto' !important;
	color: white !important;
	cursor: pointer;
}
#preview 
{
	width: 230px;
	height: 230px;
    overflow: hidden;
    cursor: pointer;
}
#preview img 
{
	width: 100%;
}
.animar-form
{
    -webkit-animation:animar 2s 0s 1;
    -webkit-animation-fill-mode: forwards; 
    -moz-animation:animar 2s 0s 1;
    -moz-animation-fill-mode: forwards;
    -o-animation:animar 2s 0s 1;
    -o-animation-fill-mode: forwards;
    -ms-animation:animar 2s 0s 1;
    -ms-animation-fill-mode: forwards;

}

@-webkit-keyframes animar
{
    0% 
    {
        position: absolute;
        left: 0;
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
    }
    50% 
    {
        position: absolute;
        left: 0;
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
    }

    100% 
    {
        position: absolute;
        left: 0;
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
    }


}
@keyframes animar
{
    0% 
    {
        position: absolute;
        right: 0;
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
    }
    50% 
    {
        position: absolute;
        right: 0;
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
    }    
    100% 
    {
        position: absolute;
        right: 0;
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
    }
}


@-webkit-keyframes regreso
{
    0% 
    {
        position: absolute;
        left: -100%;
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        z-index: 1;
    }

    50%
    {
        z-index: 1;
    }
    100% 
    {
        position: absolute;
        left: 0%;
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        z-index: 1;
    }


}
@keyframes regreso
{
    0% 
    {
        position: absolute;
        right: -100%;
        z-index: 1;
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1); 

    }
    50%
    {
        z-index: 1;
    }
    100% 
    {
        position: absolute;
        right: 0%;
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        z-index: 1;
    }
}
.regresar-form 
{
    -webkit-animation:regreso 1s 0s 1;
    -webkit-animation-fill-mode: forwards; 
    -moz-animation:regreso 1s 0s 1;
    -moz-animation-fill-mode: forwards;
    -o-animation:regreso 1s 0s 1;
    -o-animation-fill-mode: forwards;
    -ms-animation:regreso 1s 0s 1;
    -ms-animation-fill-mode: forwards;
}
.form-0
{
	text-align: center;
	left: 0;
	transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
}
.lista-part 
	{
		text-align: center;
		display: none;
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
	}
.form-1 
	{
		text-align: center;
		display: none;
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
	}
.form-2 
	{
		text-align: center;
		display: none;
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
	}
.form-3 
	{
		text-align: center;
		display: none;
		transition: all 1s ease;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
	}	
	.form-3 h1 
	{
		font-size: 2em;
	    text-align: center;
	    width: 60%;
	    margin: auto;
	    position: relative;
	    top: 75px;
	}
	.form-3 a 
	{
		background: #F79532;
	    color: white;
	    padding: 20px;
	    font-size: 1.5em;
	    /* width: 189px; */
	    border-radius: 6px;
	    /* margin-top: 71px; */
	    position: relative;
	    top: 150px;
	    border-bottom: 4px solid #A76420;
	}
	.lista-part h1 
	{
		font-size: 2em;
    	margin-top: 10px;
	}
	.lista-part .lista
	{
		width: 80%;
		height: 215px;
		margin: auto;
		border: 2px solid #F79532;
		border-radius: 6px;
		overflow-y: auto; 
	}
	.lista-part h2 
	{
		text-align: center;
	}
	.lista-part .lista h3:hover 
	{
		background: #F79532;
	    color: white;
	    cursor: pointer;
	}
	.lista-part input 
	{
		border: 1px solid gray;
	    font-size: 1.2em;
	    padding: 5px;
	    margin: 0 25px 25px 25px;
	}
	.lista-activo
	{	
		background: #F79532;
	    color: white;
	    cursor: pointer;
	}

	.lista-part button 
	{
		border: none;
	    background: #FFDA00;
	    padding: 10px;
	    font-size: 1.5em;
	    border-radius: 3px;
	    color: white;
	    cursor: pointer;
	    margin: 10px;
	}
	#canvas 
	{
		width: 95%;
		margin: 15px;
		height: 470px;
		background-image: url("../img/mapa.png");
		background-size: cover;
		background-repeat: no-repeat;
	}
	.folio-apart
	{
		display: none;
	}
	.folio-apart h1 
	{
		font-size: 2em;
	    text-align: center;
	    margin-top: 10px;
	}
	.folio-apart h2 
	{
		text-align: center;
    	margin-top: 20px;
	}
	.folio-apart label
	{
		font-size: 1.5em;
	    text-align: center;
	    display: block;
	    margin-top: 50px;
	}
	.folio-apart input 
	{
		border: none;
	    border-bottom: 1px solid black;
	    width: 250px;
	    margin: auto;
	    display: block;
	    font-size: 1.5em;
	}
	.folio-apart button
	{
		border: none;
	    background: #FFDA00;
	    padding: 10px;
	    font-size: 1.5em;
	    border-radius: 3px;
	    color: white;
	    cursor: pointer;
	    margin: auto;
    	display: block;
    	position: relative;
    	top: 50px;
	}
	.color-progreso 
	{
		background-color: #FFDA00 !important;
    	border: 1px solid #FFDA00 !important;
    	color: white !important;
	}

	/*Animacion de carga*/
	.spinner 
	{
	    width: 70px;
	    text-align: center;
	    position: relative;
	    left: 80px;
	    top: 20px;
	    opacity: 0;
	}

	.spinner > div {
	  width: 18px;
	  height: 18px;
	  background-color: #333;

	  border-radius: 100%;
	  display: inline-block;
	  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.spinner .bounce1 {
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}

	.spinner .bounce2 {
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}

	@-webkit-keyframes sk-bouncedelay {
	  0%, 80%, 100% { -webkit-transform: scale(0) }
	  40% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bouncedelay {
	  0%, 80%, 100% { 
	    -webkit-transform: scale(0);
	    transform: scale(0);
	  } 40% { 
	    -webkit-transform: scale(1.0);
	    transform: scale(1.0);
	  }
	}	

	.checar-perfil 
	{
		width: 300px;
	    text-align: center;
	    background: #FFDA00;
		border: 2px solid white;
	    padding: 10px;
	    position: fixed;
	    right: -100%;
	    z-index: 2;
	    top: 275px;
	    transition: all 2s ease;
		-webkit-transition: all 2s ease;
		-moz-transition: all 2s ease;
	}
	.muestra-perfil 
	{	
		right: 0;
	}
	.checar-perfil a 
	{
		background: #F79532;
	    color: white;
	    text-decoration: none;
	    padding: 15px;
	    display: block;
    	margin-top: 15px;
    	font-size: 1.3em;
	}