*
{
  margin: 0;
  padding: 0;
  font-family:'Roboto', sans-serif;
}
.ver-menu 
{
  position: fixed;
  right: 5%;
  top: 20px;
  display: none;
}
.ver-menu i 
{
  font-size: 3em;
}
.cerrar-menu 
{
  position: fixed;
  right: 5%;
  top: 20px;
  display: none;
}
.cerrar-menu i
{
  font-size: 3.5em;
}
ul
{
  list-style: none;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-background:#ACC164; 
   
}
 
::-webkit-scrollbar-thumb {
   
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}
.head-menu 
{
  height: 150px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: white;
  top: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.head-menu div 
{
  width: 100%;
  vertical-align: middle;
}

.logo
{
  margin-left: 145px;
}
.logo figure
 {
  margin: 0;
  width: 25%;
 }
 .menu 
 {
    background-color: #00AEEF;
    border-bottom: 2px solid white;
    padding: 15px;
    text-align: center;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
 }
.menu ul 
{
  list-style: none;
}
.menu ul li 
{
  display: inline-block;
  margin-left: 35px;

}
.menu ul li a 
{
  text-decoration: none;
  color: white;
}
.logo img 
{
  width: 95%;
}
.logo figure 
{
  display: inline-block;
  width: 25%;
  vertical-align: middle;
}

.social
{
 /* position: fixed;
  top: 25px;
  z-index: 10;
  right: 53px*/
 /* position: relative;
  left: 170px;*/
  width: 50% !important;
  position: relative; 
  left: 20%;
  text-align: center;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.social .contactanos 
{
  background: #3b5998;
  width: 110px;
  padding: 15px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.social .contactanos i 
{
  font-size: 1.5em;
}
.social h4
{
  margin-right: 80px;
  font-size: 1.2em;
}
/*.mostrar-social
{
  position: fixed;
  left: 0px;
}*/
.social div 
{
  display: inline-block;
  width: 45%;
}
.social ul
{
  list-style: none;
  margin-left: -40px;
}
.social ul li 
{
  display: inline-block;
  width: 18%;
}
.social ul li a
{
  display: inline-block;
  color:#fff;
  text-align: center;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: all .7s ease-out;
  -moz-transition: all .7s ease-out;
  -o-transition: all .7s ease-out;
  transition: all .7s ease-out;
}
.social ul li a i 
{
  font-size: 1.6em;
  margin-top: 8px;
}
.social ul li .fb 
{
  background: #3b5998;
}
.social ul li .tw 
{
  background: #00abf0;
}
.social ul li .youtube 
{
  background: red;
}
.social ul li .g-plus 
{
  background: #dd4b39;
}
.social ul li .instagram 
{
  background: #3D6B92;
}
/*.social ul li a:hover
{
  width: 200%;
}*/
.wrapper-content 
{
  margin-top: 160px;
}
/*BARRA DE FOOTER*/
#barra-footer 
{
  background: #00AEEF;
  position: fixed;
  bottom: -100%;
  z-index: 2;
  width: 100%;
  height: 50px;
  border-top: 2px solid white;
  transition:all .8s ease;
  -webkit-transition:all .8s ease;
  -moz-transition:all .8s ease;
  -o-transition:all .8s ease;
  -ms-transition:all .8s ease;
}
#barra-footer div 
{
  display: inline-block;
  margin-top: 15px;
  font-size: 2em;
  text-align: center;
}
#barra-footer > div:first-child
{
  font-size: 1.3em;
  color: white;
  margin-left: 10%;
}
#barra-footer a 
{
  text-decoration: none;
  color: white;
}
#barra-footer div button
{
  border: none;
  background: white;
  color: #00AEEF;
  padding: 5px;
  margin-left: 20px;
  margin-top: -10px;
}
#barra-footer figure 
{
  position: fixed;
  bottom: -75px;
  right: -100%;
  width: 10%;
   transition:all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  -ms-transition:all 1s ease;
  cursor: pointer;
}
#barra-footer figure img 
{
  width: 100%;
}
footer 
{
  background: #00AEEF;
  margin-top: 30px;
}
footer section 
{
  width: 45%;
  display: inline-block;
  color: #ffffff;
}
footer #facebook-api 
{
  position: relative;
  left: 90px;
  padding-right: 70px;
}
footer section div 
{
  text-align: center;
  margin-top: 10px;
}
footer h1 
{
  text-align: center;
}
footer #contactos 
{
  border-left: 3px solid white;
  vertical-align: top;
  position: relative;
  top: 30px;
  
}
.inicio 
{
  
}
.inicio .slogan
{
  text-align: center;
  color: #00AEEF;
  font-size: 3.5em;
  border-bottom: 1px solid #00AEEF;
  font-style: italic;
  width: 1000px;
  margin: auto; 
  padding: 10px;

}
.video 
{
  margin-top: 30px;
  background: #00AEEF;
}
.video-src
{
  display: block;
  text-align: center;
}
.video-texto 
{
  text-align: center;
  color: white;
  font-size: 3em;
  margin-bottom: 15px;
}
.video section
{
  display: inline-block;
  width: 47%;
  vertical-align: top;
}
.flexslider 
{
  margin-left: 80px !important;
}
.opciones 
{
  text-align: center;
  margin-top: 40px;
}
.opciones a 
{
  text-decoration: none;
  color:black;
}
.opciones div h3 
{
  color: #485E88;
  margin-bottom: 15px;
}
.opciones div 
{
  width: 30%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.opciones div i 
{
  font-size: 6em;
  color: #00AEEF;
}
.mas-salud div
{
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  color: white;
}
.mas-salud 
{
  background: #00AEEF;
  margin-top: 50px;
}
/*Seccion endocopia*/
.backtotop
{
  background: white;
  color: #00AEEF;
  width: 100px;
  height: 100px;
  outline: 2px solid #00aeef;
  text-align: center;
  position: fixed;
  top: 50%;
  right: -100%; 
  transition:all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  -ms-transition:all 1s ease;
}
.backtotop h4 
{
  position: relative;
  top: 35px;

}
.backtotop a 
{
  text-decoration: none;
  color: #00AEEF;
}
.procedimientos 
{
  text-align: center;
  margin-bottom: 50px;
}
.procedimientos a 
{
  text-decoration: none;
}
.procedimientos a div 
{
  display: inline-block;
  width: 50%;
  font-size: 2em;
  background: #00AEEF;
  color: white;
  outline: 2px solid #00AEEF;
  margin: 10px;
}
.procedimientos a div:hover 
{
  background: white;
  color: #00AEEF;
}
.descripcion 
{
  margin-bottom: 20px;
}
.img-desc 
{
  width: 70% !important;
}
.endoscopia > h1:first-child 
{
  color: #00AEEF;
  font-size: 2.5em;
  text-align: center;
}
.endoscopia section figure 
{
  
  margin: auto;
}
.endoscopia img 
{
  border-radius: 5px;
  border: 2px solid #00AEEF;
  width: 100%;
}
.endoscopia p 
{
  padding: 10px;
  width: 85%;
  margin: auto;
}
.endoscopia section div 
{
  display: inline-block;
  width: 45%;
  vertical-align: middle;
  padding: 20px;
}
.endoscopia section div h1 
{
  text-align: center;
  padding: 10px;
}
.color_1 
{
  background: #00AEEF;
  color: white;
}
.color_2 
{
  color: #00AEEF;
  text-align: center;
}
.videos 
{
  width: 90%;
  margin: auto;
}
.videos h1 
{
   color: #00AEEF;
   text-align: center;
}
.videos img 
{
  border: 2px solid #00AEEF; 
}
.videos .video-section
{
  width: 24%;
  height: 150px;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 30px;
  overflow: hidden;
}
.videos .video-section figure
{
  width: 80%;
  position: relative;
  overflow: hidden;
}
.videos .video-section .fondo-video 
{
    background: #00AEEF;
    color: white;
    width: 210px;
    text-align: center;
    position: relative;
    top: -115%;
    opacity: 0;
    transition:all .7s ease;
  -webkit-transition:all .7s ease;
  -moz-transition:all .7s ease;
  -o-transition:all .7s ease;
  -ms-transition:all .7s ease;
}
.videos .video-section .fondo-video i 
{
  position: absolute;
  top: 30%;
  color: white;
  left: 35%;
  font-size: 5em;
}

.video-grande 
{
  width: 650px;
  height: 450px;
  text-align: center;
}
.videos .video-section section 
{
  display: none;
}
.cover 
{
  background-color: black;
  height: 100%;
  left: 0;
  opacity: .5;
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -o-transition: all .7s ease;
  -ms-transition: all .7s ease;
}
.videos .video-modal 
{
  width: 70%;
  background-color: white;
  position: fixed;
  z-index: 10005;
  left: 50%;
  top: 50%;
  margin-left: -500px;
  margin-top: -300px;
}
.videos .video-modal iframe 
{
  margin-left: 50px;
}
.full-frame
{
  position: fixed;
  width: 800px;
  height: 600px;
  z-index: 1002;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -400px;

}
.cerrar-video 
{
  position: fixed;
  color: white;
  top: 25px;
  right: 25px;
  z-index: 10002;
  display: none;
  cursor: pointer;
}
.cerrar-video i 
{
   color: white;
   font-size: 3em;
}
.carga
{
  -webkit-animation: spin 2s infinite;
  -moz-animation: spin 2s infinite;
  animation: spin 2s infinite;
}

@-webkit-keyframes spin {
    0%   {-webkit-transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes spin {
    0%   {-moz-transform: rotate(0deg)}
    100% {-moz-transform: rotate(360deg)}
}
@keyframes spin {
    0%   {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.load-iframe 
{
  margin-top: -100%;
  margin-left: 50%;
  display: none;
}
.load-iframe i 
{
  color: #00AEEF;
  font-size: 3em;
}
.descripciones 
{
  width: 85%;
  margin: auto;
}
.descripciones section 
{
  display: inline-block;
  width: 45%;
  vertical-align: middle;
  margin: 20px;
}
/*Seccion laparoscopia*/
.laparoscopica h1
{

  text-align: center;
}

.laparoscopica h2 
{
  text-align: center;
}

.laparoscopica section div 
{
  width: 45%;
  display: inline-block;
  vertical-align: middle;
  padding: 20px;
}
.laparoscopica section div img 
{
  width: 100%;
}
.cuadros div 
{
  background: #00AEEF;
  padding:15px;
  width: 45%;
  height: 352px;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.cuadros div h1 
{
  color: white;
  border-bottom: 2px solid white;
}
.cuadros div h2
{
  text-align: center;
  color: white;
}
/*Seccion empresarial*/
.iguala
{
  margin-top: 450px;
}
.iguala .imagen 
{
  height: 700px;
  overflow: hidden;
}
/*Seccion contacto*/
.imagen 
{
 text-align: center; 
}
.imagen h1 
{
  color: #485E88;
}
.formulario 
{
  background: #00AEEF;
  text-align: center;
}
.formulario div 
{
  display: inline-block;
  width: 40%;
  margin-bottom: 50px;
  vertical-align: middle;
}
.formulario input 
{
  margin-bottom: 5px;
  width: 90%;
}
.formulario form 
{
  margin-top: 50px;
  border: 2px solid white;
  padding: 20px;
}
textarea 
{
  resize:none;
  width: 90%;
}
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { 
    text-align: center;  
}

::-moz-placeholder {  
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center;  
}
.icono-form 
{
  text-align: center;
  position: relative;
  left: -35px;
}
.formulario label
{
  color: white;
  font-size: 1.5em;
}
#country 
{
  width: 90%;
}
.formulario h2 
{
  color: white;
  font-size: 2.5em;
  margin-bottom: 10px;
}
.icono-form i
{
  color: white;
  font-size: 5em;
  border-radius: 100%;
  border: 5px solid;
  padding: 20px;
}
.enviar 
{
  border: none;
  color: #00AEEF;
  background: white;
  font-size: 1.5em;
  padding: 5px;
  margin-top: 10px;
}
#map 
{
  height: 450px;
}

/*Media queries*/
@media (max-width: 1920px){
  .video iframe
  {
    height: 610px;
  }
  .iguala
  {
    margin-top: 0;
  }
  .social h4
  {
    font-size: 2em;
  }
}
@media (max-width: 1745px){
   .social h4
  {
    font-size: 1.5em;
  }
}
@media(max-width: 1340px){
  .video iframe
  {
    height: 385px;
  }
  .menu ul li
  {
    margin-left: 10px;
  }
  .social
  {
    left: 5%;
  }
}
@media(max-width: 1290px){
  .video iframe
  {
    width: 500px;
  }
}
@media(max-width: 1126px){
  .menu ul li
  {
    margin-left: 40px;
    padding: 5px;
  }
  .social h4
  {
    margin-right: 0;

  }
  .social .contactanos
  {
    margin-left: 35px;
  }
  footer #facebook-api
  {
    left: 0;
    padding-right: 0;
  }
  footer section
  {
    width: 100%;
    text-align: center;
  }
  .laparoscopica section div
  {
    width: 42%;
  }
}
@media(max-width: 980px){
  .video iframe
  {
    width: 350px;
    height: 275px;
  }
  .video-texto
  {
    font-size: 2em;
  }
  .camera_wrap 
  {
    margin-bottom: 225px;
  }
  #barra-footer > div:first-child
  {
    margin-left: 0;
  }
  .descripciones section
  {
    width: 100%;
  }
}
@media(max-width: 960px){
  .logo
  {
    margin-left: 60px;
  }
  .social .contactanos
  {
    width: 80px;
  }
  .social div
  {
    width: 58%;
  }
  .inicio .slogan
  {
    width: 100%;
  }
}
@media(max-width: 910px){
  #barra-footer
  {
    display: none;
  }
}
@media(max-width: 800px){
  .menu ul li
  {
    margin-left: 0;
  }
  .cuadros div h1
  {
    font-size: 1.3em;
  }
   .cuadros div h2
  {
    font-size: 1.3em;
  }
  .laparoscopica section div
  {
    width: 100%;
    padding: 0;
  }
  .cuadros div
  {
    margin: 0;
  }

}
@media(max-width: 768px){
  body
  {
    overflow-x:hidden 
  }
  .social .contactanos
  {
    margin-left: -105px;
  }
  .camera_wrap
  {
    margin-left: 40px;
  }
  .opciones div
  {
    width: 45%;
  }
  .social h4
  {
    display: none;
  }
  .social ul
  {
    position: fixed;
    bottom: 5%;
    width: 100%;
    left: 5%;
    background: white;
    padding: 10px;
  }
  .social ul li a
  {
    width: 80px;
    height: 80px;
  }
  .social ul li a i
  {
    font-size: 2.5em;
    margin-top: 18px;
  }
  .logo img
  {
    width: 170%;

  }
  .social .contactanos
  {
    width: 90px;
    margin-left: -130px;
  }
  .ver-menu
  {
    display: block;
  }
  .menu 
  {
    left: -120%;
    position: relative;
  }
  .menu ul li
  {
    display: block;
    padding: 20px;
    font-size: 2em;
  }
  .flex-direction-nav li a 
  {
    z-index: 1;
  }
  .video section
  {
    display: block;
    width: 100%;
  }
  .flexslider 
  {
    margin-left: 0 !important;
  }
  .cuadros div
  {
    height: 200px;
  }
  .endoscopia section div
  {
    width: 100%;
  }
  .videos .video-section
  {
    width: 100%;
    text-align: center;
    display: none;
  }

}
@media(max-width: 600px){
  .inicio .slogan
  {
    font-size: 2em;
  }
  .opciones div
  {
    width: 100%;
  }
  .head-menu
  {
    height: 100px;
  }
  .social ul
  {
    bottom: 1%;
  }
  .social ul li
  {
    width: 15%;
  }
  .social ul li a {
    width: 45px;
    height: 45px;
  }
  .social ul li a i 
  {
    font-size: 1.5em;
    margin-top: 10px;
  }
    .menu ul li {
      display: block;
      padding: 10px;
      font-size: 1em;
  }
}
@media(max-width: 500px){
  .wrapper-content
  {
    margin-top: 100px;
  }
  .social .contactanos
  {
    display: none;
  }
  .logo figure
  {
    width: 30%;
  }
  .social ul li a
  {
    width: 60px;
    height: 60px;
  }
  .social ul li a i 
  {
    font-size: 2em;
    margin-top: 15px;
  }
  .video-src figure 
  {
    margin: 0;
  }
}
@media(max-width: 370px){
  .cerrar-menu
  {
    top: 5px;
  }
  .social ul
  {
    bottom: 1%;
  }
  .social ul li
  {
    width: 15%;
  }
  .social ul li a {
    width: 45px;
    height: 45px;
  }
  .social ul li a i 
  {
    font-size: 1.5em;
    margin-top: 10px;
  }
    .menu ul li {
      display: block;
      padding: 10px;
      font-size: 1em;
  }
  .inicio .slogan
  {
    display: none;
  }
  .camera_wrap
  {
    margin-left: 0;
  }
  .head-menu
  {
    height: 70px;
  }
}